
config udp2raw
	option enable '0'
	option mode 'client'
	option local_address '127.0.0.1:1985'
	option remote_address '216.58.193.196:1986'
	option raw_mode 'faketcp'
	option key 'secret key'
	option cipher_mode 'none'
	option auth_mode 'none'
	option log_level '3'
	option mtu_warn '1375'
	option hb_mode '0'
	option hb_len '1200'

